################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HERO Simple Application1/HERO Simple Application1/bin/Debug
/HERO Simple Application1/HERO Simple Application1/obj/Debug
HERO Simple Application1/.vs/HERO Cannon/v16/.suo
HERO/Hero-Cannon/bin/Debug/HERO Simple Application1.exe
HERO/Hero-Cannon/bin/Debug/HERO Simple Application1.pdb
HERO/Hero-Cannon/bin/Debug/be/HERO Simple Application1.exe
HERO/Hero-Cannon/bin/Debug/be/HERO Simple Application1.pdb
HERO/Hero-Cannon/bin/Debug/be/HERO Simple Application1.pdbx
HERO/Hero-Cannon/bin/Debug/be/HERO Simple Application1.pe
HERO/Hero-Cannon/bin/Debug/le/HERO Simple Application1.exe
HERO/Hero-Cannon/bin/Debug/le/HERO Simple Application1.pdb
HERO/Hero-Cannon/bin/Debug/le/HERO Simple Application1.pdbx
HERO/Hero-Cannon/bin/Debug/le/HERO Simple Application1.pe
HERO/Hero-Cannon/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
HERO/Hero-Cannon/obj/Debug/HERO Cannon.csproj.AssemblyReference.cache
HERO/Hero-Cannon/obj/Debug/HERO CANNON.csproj.CoreCompileInputs.cache
HERO/Hero-Cannon/obj/Debug/HERO CANNON.csproj.FileListAbsolute.txt
HERO/Hero-Cannon/obj/Debug/HERO Simple Application1.csproj.AssemblyReference.cache
HERO/Hero-Cannon/obj/Debug/HERO Simple Application1.csproj.CoreCompileInputs.cache
HERO/Hero-Cannon/obj/Debug/HERO Simple Application1.csproj.FileListAbsolute.txt
HERO/Hero-Cannon/obj/Debug/HERO Simple Application1.exe
HERO/Hero-Cannon/obj/Debug/HERO Simple Application1.pdb
HERO/Hero-Cannon/obj/Debug/TinyCLR_DebugReferences.cache
HERO/Hero-Cannon/obj/Debug/be/HERO Simple Application1.pdbx
HERO/Hero-Cannon/obj/Debug/be/HERO Simple Application1.pe
HERO/Hero-Cannon/obj/Debug/le/HERO Simple Application1.pdbx
HERO/Hero-Cannon/obj/Debug/le/HERO Simple Application1.pe
HERO/.vs/HERO Cannon/v16/.suo
HERO/HeroCannon/HeroCannon/bin/Debug/HeroCannon.exe
HERO/HeroCannon/HeroCannon/bin/Debug/HeroCannon.pdb
HERO/HeroCannon/HeroCannon/bin/Debug/be/HeroCannon.exe
HERO/HeroCannon/HeroCannon/bin/Debug/be/HeroCannon.pdb
HERO/HeroCannon/HeroCannon/bin/Debug/be/HeroCannon.pdbx
HERO/HeroCannon/HeroCannon/bin/Debug/be/HeroCannon.pe
HERO/HeroCannon/HeroCannon/bin/Debug/le/HeroCannon.exe
HERO/HeroCannon/HeroCannon/bin/Debug/le/HeroCannon.pdb
HERO/HeroCannon/HeroCannon/bin/Debug/le/HeroCannon.pdbx
HERO/HeroCannon/HeroCannon/bin/Debug/le/HeroCannon.pe
HERO/HeroCannon/HeroCannon/obj/Debug/HeroCannon.exe
HERO/HeroCannon/HeroCannon/obj/Debug/HeroCannon.pdb
HERO/HeroCannon/HeroCannon/obj/Debug/be/HeroCannon.pdbx
HERO/HeroCannon/HeroCannon/obj/Debug/be/HeroCannon.pe
HERO/HeroCannon/HeroCannon/obj/Debug/le/HeroCannon.pdbx
HERO/HeroCannon/HeroCannon/obj/Debug/le/HeroCannon.pe
HERO/HeroCannon/.vs/HeroCannon/v16/.suo
