################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HERO Simple Application1/HERO Simple Application1/bin/Debug
